#   # ----------------------------------------------------------------- #
#   |  ░█▀▄░█▀▀░▄▀▄░█░█░▀█▀░█▀▄░█▀▀░█▄█░█▀▀░█▀█░▀█▀░█▀▀░░░░▀█▀░█░█░▀█▀  |
#   |  ░█▀▄░█▀▀░█\█░█░█░░█░░█▀▄░█▀▀░█░█░█▀▀░█░█░░█░░▀▀█░░░░░█░░▄▀▄░░█░  |
#   |  ░▀░▀░▀▀▀░░▀\░▀▀▀░▀▀▀░▀░▀░▀▀▀░▀░▀░▀▀▀░▀░▀░░▀░░▀▀▀░▀░░░▀░░▀░▀░░▀░  |
#   #------------------------------------------------------------------ #
#   Website: https://commonlib.zandercraft.ca
#   Documentation: https://github.com/Zandercraft/ZCSCommonLibrary/wiki/
#   License: Mozilla Public License 2.0
#   # -------------------------------------------------------------------------------- #
#   * requirements.txt file for zcscommonlib. Sets development dependancies.           *
#   # -------------------------------------------------------------------------------- #

setuptools~=53.0.0
wheel~=0.36.2
twine~=3.3.0
pytest~=6.2.2
pytest-runner~=5.3.0
pypandoc~=1.5